# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems will be summarized.

Objectives:
- List popular languages for data science
- List popular libraries for data science
- create a table of data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. ggplot2

|Data Science Tools|
|------------------|
|Anaconda|
|R Studios|
|Jupyter Labs|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
result = 200/60
print(str(result) + " minutes")

3.3333333333333335 minutes

## Arthur
Terron